.widgetLg {
    flex: 2;
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 7px 45px 62px -2px rgba(0,0,0,0.14);
-moz-box-shadow: 7px 45px 62px -2px rgba(0,0,0,0.14);
box-shadow: 7px 45px 62px -2px rgba(0,0,0,0.14);
border: 1px solid rgb(237, 240, 255);
}