.topbar {
    width: 100%;
    height: 50px;
    background-color: rgb(194, 210, 255);
    position: sticky;
    top: 0;
    z-index: 999;

}

.topbarWrapper {
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: bold;
    color: rgb(227, 6, 138);
    font-size: 30px;
}

.heart {
    color: rgb(35, 95, 248);
}

.topRight {
    display: flex;
   align-items: center;
}

.topbarIconsContainer {
    position: relative;
    margin: 0 5px;
}

.topIconBag {
    position: absolute;
    top: -5px;
    right: -11px;
    background-color: brown;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-size: 9px;
    margin: 0 5px;
}