.widgetSm {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 7px 45px 62px -2px rgba(0,0,0,0.14);
-moz-box-shadow: 7px 45px 62px -2px rgba(0,0,0,0.14);
box-shadow: 7px 45px 62px -2px rgba(0,0,0,0.14);
border: 1px solid rgb(237, 240, 255);
margin-right: 20px;
}

.widgetSmTitle {
    font-size: 21px;
    font-weight: 600;
}

.widgetSmImg {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.widgetSmList {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.widgetSmListItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
}

.widgetSmUser {
    display: flex;
    flex-direction: column;
}

.widgetSmUserName {
    font-weight: 600;
}

.widgetSmUserTitle {
    font-weight: 300;
}

.widgetSmButton {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    border-radius: 10px;
    padding: 7px 0;
    color: #555; cursor: pointer;
}

.widgetSmIcon {
    font-size: 16px;
    margin-right: 5px;
}